/* Styles for index landing page */

body {
    background-color: #100b38;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: white;
}

p {
    color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

.landing-picture {
    width: 400px;
    height: 100%;
    visibility: true;
    border-radius: 200px;
    offset-position: left 25%;
}

/* Overwriting active tab for index page */
.topnav a.active {
  background-color: #1200af;
  color: white;
}

/* Columns for split page */
.flex-container {
  display: flex;
  /* Adds a gap between the columns */
  gap: 20px;
}
.column {
  /* Each column takes up 50% of the width, minus half the gap on each side */
  width: calc(50% - 10px);
  padding: 1rem;
  /* Add other styling as needed */
}