/* Styles for software projects page */
body {
    background-color: #303334;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: white;
}

p, li {
    color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}


/* Overwriting active tab for software page */
.topnav a.active {
  background-color: #303334;
  color: white;
}