/* This is where da CSS gonna go OwO */

/* Footer Stylings */

body {
    background-color: #303334;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;

    background-color: #202324;
}

h2, h3 {
    color: white;
}

p {
    color: lightgrey;
}

.profile-picture {
    width: 200px;
    height: 100%;
    visibility: true;
    border-radius: 100px;
}